
<%- include('includes/header') %>

    <div class="container">
        
        <form action="/consultas" method="post">
            <label for="resultado">Resultado:</label>
            
            
            <p> <%- p + " " + q + " " + " con el numero de telefono  " + r + ", " + "con el correo "+ u + " y en la dirrección "+ w + " con el codigo de compra autorizado " + x + " se le entregara " + o + "" + " en una cantidad en libras de " + m + " en la fecha " + n %> </p>
        </form>
        <a href="/index">Regresar al inicio</a>
    </div>

      

<%- include('includes/footer') %>






