
<%- include('includes/header') %>

<div class="container">
    
    <h2>Iniciar sesión</h2>
    <form action="/login" method="post">
        <label for="email">Correo electronico:</label>
        <input type="email" name="email" id="email" placeholder="Ingrese su email..." required>
        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese su password..." required>
        <button type="submit">Iniciar</button>
    </form>
    <p>No estas registrado? <a href="/registro">Regístrate</a></p>
    <a href="/index">Regresar al inicio</a>
</div>

      

<%- include('includes/footer') %>