<footer class="footer">
    <div class="footer__container container">
        <div class="footer__texts">
            <h2 class="title">Contactanos</h2>

            <div class="footer__icons">
                <a href="#" class="footer__icon fab fa-facebook-f"></a>
                <a href="#" class="footer__icon fab fa-twitter"></a>
                <a href="#" class="footer__icon fab fa-instagram"></a>
            </div>
            
            <nav class="footer__nav">
                <a href="#" class="footer__link">Inicio</a>
                <a href="#" class="footer__link">Sobre nosotros</a>
                <a href="#" class="footer__link">Trabajos</a>
            </nav>

            <p class="footer__copy">Derechos reservados &copy; Diego Dario Perez Galindo</p>
        </div>

        <figure class="footer__img">
            <img src="assets/images/mail.svg" class="footer__picture">
        </figure>
    </div>
</footer>



<script src="https://kit.fontawesome.com/f955c68031.js" crossorigin="anonymous"></script>
</body>
</html>


